body,
html{
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background: url(4004374.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
	position: center;
}

h1{
	font-size: 3rem;
	color: #d9f152;
}

hr{
	margin: 20px auto;
	color: #F05F44;
	border: 1px solid #F05F44;
	max-width: 65px;
	height: 23px;
	opacity: 1;
}


.buffer{
	height: 10rem;
}

.btn{
	font-weight: 800;
	border-radius: 100px;
}

.btn-new {
	padding: 1rem 2rem;
	}

.btn-info{
	background-color: #f05f44;
	border-color: #f05f44;
}

.btn-info:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 4px;
}

